.ScreenContainer {
    width: 92%;
    background-color: white;
    height: 50%;
    margin: 12px 5px;
    box-sizing: border-box;
    border-radius: 10%;
    background-image: url("../../assets/images/image.jpg");
    background-size:cover;
}